body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Quicksand', sans-serif;
    color: #fff;
    background: #000;
}

.overlay {
    background:
    linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
        );
    position: absolute;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
}

video#bgvid {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background: url(img/bg.jpg) no-repeat;
    background-size: cover;
}

/* Custom stuff */

.top-spacer {
    margin-top:5em;
}

.blue {
    color: #3EBFFC;
}

.fix-overflow {
    position:relative;
    top:0;
    left:0;
    height:3em;
}

.pointer {
    cursor: pointer;
}

.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Text swap */

.text-swap {
    display: none;
    -webkit-animation-duration: 10s;
    -webkit-animation-delay: 1s;
    -webkit-animation-iteration-count: 1;
    overflow: initial;
}

/* Bootstrap override */

.h1 {
    font-size:2.5em;
}

.popover-title {
    font-size: 1.2em;
    color: #3EBFFC;
    background: #1d1d1d;
    border-bottom: 0;
}

.popover {
    padding: 5px;
    border: 3px solid #3EBFFC;
    color: #1d1d1d;
    background: #1d1d1d;
}

.popover.right .arrow, .popover.right .arrow:after {
    border-right-color: #3EBFFC;
}

.popover.bottom .arrow, .popover.bottom .arrow:after {
    border-bottom-color: #3EBFFC;
}


p {
    font-size:1.6em;
}

a, a:focus, a:hover {
    text-decoration: none;
    color: #999;
}

a:hover { color: #ccc; }

/* Social media icons */

a .social-media {
    display: inline-block;
    padding: 0 15px 0 0;
    text-decoration: none;
    color: #fff;
    opacity: 0.5;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}

a:hover .social-media, a:focus .social-media {
    opacity: 1;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
    border: 0;
}

/* Custom FontAwesome sizes */
.fa-2 { font-size: 2em; }
.fa-3 { font-size: 4em; }
.fa-4 { font-size: 7em; }
.fa-5 { font-size: 12em; }
.fa-6 { font-size: 20em; }


/* Responsive goodness */
@media (max-width: 768px) {
    body { padding: 0 20px 0 20px; }
    h1 { font-size: 2em; }
    .h1 { font-size: 2em; }
}